.ticker {
  width: 130px;
  height: 80px;
  margin: 5px;
  background-color: teal;
  border: 1px solid indigo;
  border-width: unset;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ticker__name{
  font-weight: bold;
}
.ticker__price{
  font-weight: bold;
  font-style: oblique;
  font-size: 16px;
}
