.app {
  display: flex;
  height: 100vh;
}

aside {
  background-color: steelblue;
  border-right: 1px solid slategray;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  overflow: auto;
}

.currItem {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid mediumblue;
  padding: 10px;
}

main {
  padding: 20px;
  background-color: lightsteelblue;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  flex: 1;
}
